body {

    .grid-container {

        /*==============================================================================
        -------------------------------------MAIN---------------------------------------
        ==============================================================================*/
        main {

            /*==========================================================================
            -------------------------------PAGE-1--TAHINI-------------------------------
            ==========================================================================*/
            .page-1 {

                .tahini-section {
                    .tahini-text {
                        font-size: 2.5rem;
                    }
                }

                /*==========================================================================
                -----------------------------LETTUCE-SECTION--------------------------------
                ==========================================================================*/
                .lettuce-section {

                    .lettuce-text {
                        font-size: 2.5rem;
                    }
                }
            }

            /*===========================================================================
            ---------------------------PAGE-2---FOOD-SECTION-----------------------------
            ===========================================================================*/
            .food-section {
                .food-list {
                    li {
                        .food-list-foodname {
                            font-size: 1.8rem;
                        }

                        .food-description {
                            font-size: 1.3rem;
                        }

                        .price {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            /*==========================================================================
            --------------------------- PAGE-3---FORM-SECTION---------------------------
            ==========================================================================*/
            .page-3 {
                .form-section {
                    form {
                        label {
                            .form-input {
                                width: 270px;
                            }
                            .input-label {
                                font-size: 1.8rem;
                            }
                        }
                        .form-buttons {
                            gap: 5.8rem; 
                        }
                    }
                }
            }
        }
    }
}